*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Urbanist", sans-serif;
}

body{
    background-color: #D4D4CE;
    color: #023246;
    width: 100%;
    height: 100%;
}
header{
    background-color: #0a0a0a;
    color: #fafafa;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    font-size: 20px;
}

.imagepic{
    width: auto;
    height: auto;
    border-radius: 25px;
}

#imageHolder{
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 25px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

#container
{
    width: 90%;
    margin: 0 auto;
}

#display
{
    width: 100%;
    height: 20%;
    margin: 0 auto;
    text-align: center;
    background-color: #023246;
    color: #fafafa;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(247, 245, 245, 0.24) 0px 3px 8px;
    font-weight: 400;
}

#display p{
    padding-bottom: 20px;
}


#goal
{
    width: 90%;
    margin: 0 auto;
    font-weight: 600;
    height: 100%;
}
#links{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C0EB6A;
    color: #0a0a0a;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    font-weight: 500;
    padding: 10px;
}
#links a{
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    background-color: yellowgreen;
}

#links p{
    margin-bottom: 10px;
    padding: 0px 5px;
    text-align: center;
}

#links h3{
    margin-bottom: 10px;
    margin-top: 10px;
}

#links a:active{
    color: red;
}

#links a:visited{
    color: purple;
}

@media  (min-width: 690px) {
    header{
        background-color: #023246;
        color: #fafafa;
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo{
        font-size: 30px;
    }

    #display
    {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        background-color: #023246;
        color: #fafafa;
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: rgba(14, 13, 13, 0.24) 0px 3px 8px;
        font-weight: 400;
        height: 150px;
    }
    
}